/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/app/styles/common.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/

.common_section__nS715{
    width: 100%;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.common_movieSection__98X1P{
    background-color: #fff!important;
}

.common_container__Tfm1z{
    max-width: 140rem;
    margin:0 auto;
    padding: 6rem 3rem;
}

.common_grid_two_section__v4Qd_{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 60rem;
}

.common_movieSection__98X1P h1{
    text-align: center;
    margin-bottom: 3.2rem;
}

.common_movie_title__4hi5B {
    margin: 3.2rem 0 3.2rem 0;
}

.common_movie_title__4hi5B span{
     color: #e50914;
    text-transform: capitalize;
}

.common_card_section__ENPy0{
    width: 100%;
    display: flex;
    gap: 4.8rem;
    justify-content: space-between;
    align-items: center;
    /*background-color: #90caf9;*/
    flex-wrap: wrap;
}

.common_card__dpLKv{
    max-width: 26rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: .8rem;
    background-color: #fff;
}

.common_card_image__xx7Qj img{
    max-width: 100%;
    height: auto;
    border-top-right-radius: .8rem;
    border-top-left-radius: .8rem;
}

.common_card_data__somuu{
    padding: 1.2rem;
}

.common_card_data__somuu h2{
    font-size: 2rem;
}

.common_card_data__somuu p{
    margin: 1rem 0 2.4rem 0;
    line-height: 1.6;
}


/*not found page styling */
.common_error_page__FtUEL{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.common_error_page__FtUEL h2{
    font-size: 4.8rem;
}


/*loading page style */

.common_loading_section__e_q0c{
    width: 100%;
    height: 80vh;
    display: grid;
    place-items: center;
}

.common_loading__MwNzf {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.common_loading__MwNzf:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #e50914;
    border-color: #e50914 transparent #e50914 transparent;
    animation: common_loading__MwNzf 1.2s infinite;
}
@keyframes common_loading__MwNzf {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}



@media screen and (max-width:768px) {
    .common_grid_two_section__v4Qd_{
        grid-template-columns: 1fr;
    }

    .common_card_section__ENPy0{
        justify-content: center;
    }

}
